@import '../../ui-utils/variables';

@media screen and (min-width: 601px) {
    ngb-carousel {
        margin: auto;
        width: 70%;
        margin-top: 0;
        background-color:$primary-color-dark;
        padding: 2%;
        border-radius: 10px;
        top: 0;
    }
}
  
@media screen and (max-width: 700px) {
    ngb-carousel {
        margin: auto;
        width: 90%;
        margin-top: 0;
        background-color:$primary-color-dark;
        padding: 2%;
        border-radius: 10px;
        top: 0;
    }
}

#comments{
    text-align: center;
    margin: 1% 0% 1% 0%;
}


@media screen and (min-width: 601px) {
    .author{
        margin-top: 2%;
        font-size: 22px;
        color: $accent-color;
    }  
}

@media screen and (max-width: 700px) {
    .author{
        margin-top: 2%;
        font-size: 18px;
        color: $accent-color;
    }
}


@media screen and (min-width: 601px) {
    .textComment{
        margin-top: 2%;
        font-size: 22px;
    }  
}

@media screen and (max-width: 700px) {
    .textComment{
        margin-top: 2%;
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) {
    .sentence {
        text-align: center;
        margin: 2%;
        color: $accent-color;
    }   
}

@media screen and (max-width: 700px) {
    .sentence{
        color: $accent-color;
        text-align: center;
        margin: 2%;
        font-size: 25px;
    }
}

@media screen and (min-width: 601px) {
    .button-text {
        text-align: center;
        color: $accent-color;
        font-size: 17px;
    }   
}

@media screen and (max-width: 700px) {
    .button-text{
        text-align: center;
        color: $accent-color;
        font-size: 14px;
    }
}

button,section{
    margin: 3%;
}

mat-progress-bar{
    width: 50%;
    margin: auto auto 5% auto;
}

h5{
    text-align: center;
    margin: 5% auto 1% auto;
}

h2{
    color: $accent-color;
}