<div id="comments">
  <h2 class="sentence">{{'Testimonies' | translate}}</h2>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let auxComment of _commentService.comments">
      <section>
        <strong>
          <p class="textComment">
            {{auxComment.comment}}
          </p>
        </strong>
        <b class="author">{{auxComment.name}}</b>
      </section>
    </ng-template>
  </ngb-carousel>
  <button 
  class="button-text" 
  mat-button 
  (click)="openCommentDialog()"
  >
    <i class="material-icons">
      insert_comment
    </i>
    {{'LeaveACommentary' | translate}}
  </button>
</div>