$primary-color-dark: #FFA000;
$txt-color: #263238;
$secondary-color: rgba(255, 236, 179, 0.404);
$secondary-color-gray: rgba($color: #503332, $alpha: 0.1);
$primary-color-light: rgb(255, 200, 37);
$accent-color:#7C4DFF;
$accent-color-light:rgb(197, 180, 243);
$accent-text-color: #FFECB3;