<h1 class="shadow-sm text-center">{{'Slogan' | translate}}</h1>
<app-main-images-carousel></app-main-images-carousel>

<app-who-we-are></app-who-we-are>

<div *ngIf="activityService.activities && activityService.activities.length > 0; else LoadingActivities">
    <app-show-main-activities></app-show-main-activities>
</div>

<app-services></app-services>

<app-most-visited-activities></app-most-visited-activities>

<div *ngIf="activityService.activities && activityService.activities.length > 0; else LoadingSpecialOffers">
    <app-special-offers></app-special-offers>
</div>

<app-social-networks></app-social-networks>

<app-show-comments></app-show-comments>

<ng-template #LoadingActivities>
    <h5>{{'LoadingActivities' | translate}}</h5>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>

<ng-template #LoadingSpecialOffers>
    <h5>{{'LoadingSpecialOffers' | translate}}</h5>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
