<div *ngIf="activity" class="container">
  <h2 class="text-center">{{activity.name}}</h2>
  <br>
  <div class="container" *ngIf="_activity.activities !== undefined; else loading">
    <ngb-carousel class="shadow text-center" *ngIf="!_im.loading">
      <ng-template ngbSlide *ngFor="let a of activity.images">
        <img src="{{env}}static/images/{{a.filename}}" width="auto" height="auto" class="container imageStyle">
      </ng-template>
    </ngb-carousel>
    <hr>
    <p>{{activity.description}}</p>
    <hr>
  </div>

  <div id="infoActivity">
    <span class="infoSectionActivity shadow-sm p-2">
      <b>{{'Duration' | translate}}</b>
      <p class="text-center">{{activity.duration}} {{'Hours' | translate}}</p>
      <b>{{'Includes' | translate}}</b>
      <p>{{activity.includes}}</p>
      <table class="table table-striped" cellspacing="1" cellpadding="1"
      *ngIf="_ratesService.entryAndTariff.length>0; else loading">
        <tr>
          <th>
            <b>{{'Entry' | translate}}</b>
          </th>
          <th>
            <b>{{'Tariff' | translate}}</b>
          </th>
        </tr>
        <tr *ngFor="let element of _ratesService.entryAndTariff">
          <th>
            <p class="text-center">{{element._from}} - {{element._to}}</p>
          </th>
          <th>
            <p class="text-center">{{element._rate}}$</p>
          </th>
        </tr>
      </table>
    </span>
    <span class="infoSectionActivity shadow-sm p-2">
        <b>{{'Difficultly' | translate}}</b>
        <p class="text-center">{{activity.difficulty}}</p>
        <b>{{'Bring' | translate}}</b>
        <p>{{activity.bring}}</p>
        <b>{{'Access' | translate}}</b>
        <p class="text-center">{{activity.access}}</p>
        <!--<b>{{'Location' | translate}}</b>
        <button mat-raised-button (click)="seeLocation();">Map</button>-->
    </span>
  </div>
</div>

<ng-template #loading>
  <h5>{{'LoadingEntriesAndTariffs' | translate}}</h5>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
