@import "../../ui-utils/variables";

@media screen and (min-width: 601px) {
  .infoSectionActivity {
    display: inline-table;
    margin: 3%;
    width: 35%;
    background-color: $secondary-color-gray;
    padding: 3%;
  }
}

@media screen and (max-width: 700px) {
  .infoSectionActivity {
    display: inline-table;
    margin: 3%;
    width: 100%;
    background-color: $secondary-color-gray;
    padding: 3%;
  }
}

@media screen and (min-width: 601px) {
  p{
    text-align: justify;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  p{
    text-align: justify;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }
}

ngb-carousel {
  width: 60%;
  margin: auto;
}
.imageCorousel {
  background-size: cover;
  width: 1000px;
  height: 400px;
  margin: auto;
}

#infoActivity {
  text-align: center;
  margin: 0px;
  padding: 0px;
}



mat-progress-bar{
  width: 50%;
  margin: auto auto 5% auto;
}

h5{
  text-align: center;
  margin: 5% auto 1% auto;
}


h2{
  margin: 0px;
  color:$accent-color;
}

b,button{
  margin-top: 1%;
  margin: 0px; 
}

th{
  margin: 0px;
  padding: 0px;
}

table{
  margin-top: 3%;
}