<div class="row container text-center main-card">
  <div class="col-sm-5 text-center container dev">
    <hr>
    <h6 class="text-primary">Justin Alberto Castillo Valladares</h6>
    <span><a href="http://www.justin-overview.com">Portfolio</a> <mat-icon class="align">open_in_new</mat-icon></span>
    <mat-list role="list" class="text-left details-list container">
      <p><strong class="text-danger">FullStack Engineer</strong></p>
      <p><strong>Github: </strong> <a href="https://github.com/JustinCast"> github.com/JustinCast</a></p>
      <p><strong>Gitlab: </strong> <a href="https://gitlab.com/JustinCast"> gitlab.com/JustinCast</a></p>
      <p><strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/jacv"> www.linkedin.com/in/jacv</a></p>
      <p><strong>Email: </strong> justincastillovalladares@gmail.com</p>
    </mat-list>
  </div>
  <div class="col-sm-5 text-center container dev">
    <hr>
    <h6 class="text-primary">Luis Carlos González Calderón</h6>
    <span><a href="www.luis-gc.com">Portfolio</a> <mat-icon class="align">open_in_new</mat-icon></span>
    <mat-list role="list"class="text-left details-list">
      <p><strong class="text-danger">FullStack Engineer</strong></p>
      <p><strong>Github: </strong> <a href="https://github.com/luisCarlosGonzalezCalderon">github.com/luisCarlosGonzalezCalderon</a></p>
      <p><strong>Gitlab: </strong> <a href="https://gitlab.com/luisCarlosGonzalezCalderon">gitlab.com/luisCarlosGonzalezCalderon</a></p>
      <p><strong>Linkedin: </strong> <a href="www.linkedin.com/in/lcgc">www.linkedin.com/in/lcgc</a></p>
      <p><strong>Email: </strong> luisgoncal98@gmail.com</p>
    </mat-list>
  </div>
</div>
<hr>
<h6 class="text-secondary text-center">admin@santuarionatura.com</h6>
