<div class="row container text-center">
  <div class="col-sm-5 text-center container">
    <h5 class="text-primary">Justin Alberto Castillo Valladares</h5>
    <hr>
    <span><a href="http://www.justin-overview.com">Portfolio</a> <mat-icon class="align">open_in_new</mat-icon></span>
    <hr>
    <mat-list role="list"class="text-left details-list">
      <mat-list-item role="listitem"><strong class="text-danger">FullStack Engineer</strong></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Github: </strong> <a href="https://github.com/JustinCast"> github.com/JustinCast</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Gitlab: </strong> <a href="https://gitlab.com/JustinCast"> gitlab.com/JustinCast</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/jacv"> www.linkedin.com/in/jacv</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Email: </strong> justincastillovalladares@gmail.com</mat-list-item>
    </mat-list>
  </div>
  <div class="col-sm-5 text-center container">
    <h5 class="text-primary">Luis Carlos González Calderón</h5>
    <hr>
    <mat-list role="list"class="text-left details-list">
      <mat-list-item role="listitem"><strong class="text-danger">Student Engineer</strong></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Github: </strong> <a href="https://github.com/luisCarlosGonzalezCalderon"> https://github.com/luisCarlosGonzalezCalderon</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Gitlab: </strong> <a href="https://gitlab.com/luisCarlosGonzalezCalderon"> https://gitlab.com/luisCarlosGonzalezCalderon</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Linkedin: </strong> <a href="www.linkedin.com/in/luisCarlosGonzalezCalderon">www.linkedin.com/in/luisCarlosGonzalezCalderon</a></mat-list-item>
      <hr>
      <mat-list-item role="listitem"><strong>Email: </strong> luiscarlos@gmail.com</mat-list-item>
    </mat-list>
  </div>
</div>
<hr>
<h6 class="text-secondary text-center">admin@santuarionatura.com</h6>