.details-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 601px) {
  h6{
    color: green !important;
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  h6{
    color: green !important;
  }
}

.main-card{
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 601px) {
  a,p{
    font-size: 18px;
    margin: 1%;
    margin-top: 8%;
  }
}

@media screen and (max-width: 700px) {
  a,p{
    font-size: 13.5px;
    margin: 0px;
    padding: 0px;
  }
}

.text-primary{
  margin-top: 4%;
}