<div class="container text-center">
  <h3 class="text-secondary">Cambiar contraseña para: {{ username }}</h3>
  <form [formGroup]="resetPasswordFG" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Nueva contraseña"
        formControlName="password"
        required
      />
      <!-- <mat-error *ngIf="resetPasswordFG.hasError('required', 'password')">
        Ingrese su nueva contraseña
      </mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirme la contraseña"
        formControlName="confirm"
      />
    </mat-form-field>
    <hr />
    <div class="container text-center">
      <button type="submit" mat-stroked-button color="primary" [disabled]="!resetPasswordFG.valid">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>
</div>
