<section>
  <div class="container card" *ngIf="_commentService.commentsToConfirm.length>0; else loading">
  <h3>
    {{'ConfirmationOfComments' | translate}}
  </h3>
    <mat-accordion *ngFor="let auxComment of _commentService.commentsToConfirm">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              {{auxComment.name}}
            </strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{auxComment.comment}}
        </p>
        <mat-action-row>
          <button mat-button color="primary" (click)="acceptComment(auxComment.id)" >{{'Accept' | translate}}</button>
          <button mat-button color="warn" (click)="deleteComment(auxComment.id)" >{{'Deny' | translate}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
<ng-template #loading>
  <h5>{{'LoadingComments' | translate}}</h5>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>