
<div id="firstWhoWeAreCont">
  <h2 class="sentence">
    {{'WhoWeAre' | translate}}
  </h2>
  <section >
    <p class="textCenterItalic">
        Contar tu historia no es limitarse a contar que tu negocio tiene x años de antigüedad,
          trayectoria o experiencia. Es abrirse a la oportunidad de conectar y de dejarse conocer. 
          Es no esconderse detrás de mensajes vacíos que realmente no aportan nada 
        a quien está al otro lado de la pantalla. Es transmitir y atreverse a no ser percibido como uno más. </p>
  </section>
  <div id="secondWhoWeAreCont">
    <span class="cardWhoWeAre card">
        <img src="../../../assets/images/imagen1.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre">
    </span>
    <span class="cardWhoWeAre card">
        <img src="../../../assets/images/imagen2.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre" >
    </span>
    <span class="cardWhoWeAre card" >
        <img src="../../../assets/images/imagen3.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre" >
    </span>
  </div>
</div>