
<div id="firstWhoWeAreCont">
  <h2 class="sentence">
    {{'WhoWeAre' | translate}}
  </h2>
  <div style="display: flex; justify-content: center; margin: 1%; border-radius: 10px;">
    <img style="border-radius: 10px;" width="40%" height="30%" src="../../../assets/images/LOGO FONDO BLANCO.png" alt="Cargando">
  </div>
  <section >
    <p class="textCenterItalic">
      Somos el touroperador desarrollado por nuestra Cooperativa Agroturística y Servicios Múltiples de San Ramón de La Virgen de Sarapiquí (COOPROTURS R.L.), creada en el 2015 con participación activa de 24 socias y socios. Nos unió la necesidad de lograr mejores condiciones para nuestras familias, convencidos de que como comunidad inmediata al Sector El Ceibo del Parque Nacional Braulio Carrillo, teníamos la responsabilidad de proteger y resguardar sus valiosos recursos, mediante la gestión local y sostenible de actividades productivas, entre ellas el Turismo Rural Comunitario.

      Nos distinguimos por brindar a nuestros visitantes la oportunidad de ser parte de un turismo vivencial y de experiencia, en el que se sientan parte de nuestra comunidad y familias, compartiendo, interactuando y generando sinergia en pro de un verdadero desarrollo sostenible y humano.
      
      Ven y vívelo en comunidad, descubriendo nuestra esencia. ¡Nuestra comunidad te espera!
    </p>
  </section>
  <div id="secondWhoWeAreCont">
    <span class="cardWhoWeAre card">
        <img src="../../../assets/images/imagen1.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre">
    </span>
    <span class="cardWhoWeAre card">
        <img src="../../../assets/images/imagen2.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre" >
    </span>
    <span class="cardWhoWeAre card" >
        <img src="../../../assets/images/imagen3.JPG" width="auto" height="auto" class="container imageStyleWhoWeAre" >
    </span>
  </div>
</div>