<ngb-carousel class="text-center shadowm-lg">
  <ng-template ngbSlide>
    <img src="../../../assets/images/1.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/2.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/3.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/4.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/5.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/7.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/images/9.jpg" width="auto" height="auto" class="container imgCarousel" >
  </ng-template>
</ngb-carousel>