<div id="servicesOfferedCont">  
  <h2 class="sentence">{{'ServicesWeOffer' | translate}}</h2>
  <span class="service">
    <h4 class="text-center">
      <strong>
        {{'Transport' | translate}}
      </strong>
    </h4>
    <i class="fas fa-bus fa-7x"></i>
    <section>
      <p>
        A nuestra comunidad se puede ingresar mediante autobuses públicos que salen diariamente desde Puerto Viejo y La Virgen de Sarapiquí. Además, podemos proveer transporte privado desde hoteles de la zona de Sarapiquí. El acceso a la mayoría de las actividades de nuestra oferta puede realizarse en vehículos de tracción sencilla y microbuses turísticas. Favor consultar y reservar con antelación su transporte privado con nosotros.
      </p>
    </section> 
  </span>
  <span class="service">
    <h4 class="text-center">
      <strong>
        {{'Feeding' | translate}}
      </strong>
    </h4>
    <i class="fas fa-utensils fa-7x"></i>
    <section>
      <p>
        Nuestros platillos son una digna representación de la cocina criolla costarricense, compuesta por picadillos de plátano verde, chicasquil, papaya verde y fruta de pan (dependiendo de la cosecha), así como de deliciosas ollas de carne, gallina achiotada, chicharrones, tortillas de maíz palmeadas, café chorreado, variedad de postres y panes caseros. También, gracias a la amplia variedad de vegetales a disposición, preparamos saludables recetas vegetarianas y veganas.
        Precios: una comida completa desde $7 por persona, con bebida natural incluida.
      </p>
    </section> 
  </span>
  <span class="service">
    <h4 class="text-center">
      <strong>
        {{'Lodging' | translate}}
      </strong>
    </h4>
    <i class="fas fa-bed fa-7x"></i>
    <section>
      <p>
        Contamos con capacidad para 35 personas, distribuidas en una posada comunitaria para 20 personas, así como 6 casas de familia que pueden hospedar hasta 15 personas entre ellas. Los baños son compartidos. Proveemos toda la ropa de cama y toallas de baño.
        Precios: $15 por persona, sólo hospedaje. Precio especial para grupos.
      </p>
    </section> 
  </span>
</div>